web: python manage.py migrate && python manage.py shell -c "from django.contrib.auth import get_user_model; User=get_user_model(); username='admin'; email='admin@example.com'; password='admin123'; User.objects.filter(username=username).exists() or User.objects.create_superuser(username, email, password)" && python manage.py collectstatic --noinput && gunicorn config.wsgi:application